<div>
    <a ng-href="#/ngClassDemo">ng-Class Demo</a>
</div>
<br>
<br>
<div ng-show='driverList.length'>
    <table>
        <thead>
            <th class="colWidth"><h3>#</h3></th>
            <th class="colWidth"><h3>Name</h3></th>
            <th class="colWidth"><h3>Nationality</h3></th>
            <th class="colWidth"><h3>Points</h3></th>
            <th class="colWidth"><h3>Wins</h3></th>
            <th class="colWidth"><h3>Position</h3></th>
        </thead>
        <tbody>
            <tr ng-repeat='drivers in driverList'>
                <td class="colWidth" ng-bind='$index +1'></td>
                <td class="colWidth"><a ng-href='#/driver/{{drivers.Driver.driverId}}'>
                        <span ng-bind='drivers.Driver.givenName'></span>&nbsp;
                        <span ng-bind='drivers.Driver.familyName'></span>
                    </a>
                </td>
                <td class="colWidth"><span ng-bind='drivers.Driver.nationality'></span></td>
                <td class="colWidth"><span ng-bind='drivers.points'></span></td>
                <td class="colWidth"><span ng-bind='drivers.wins'></span></td>
                <td class="colWidth"><span ng-bind='drivers.position'></span></td>
            </tr>
        </tbody>
    </table>
</div>