<section>
    <div>
        <span class='colWidth' ng-class='{colorEnabled:colorObj.red}'>Red</span>
        <span class='colWidth' ng-class='{colorEnabled:colorObj.yellow}'>Yellow</span>
        <span class='colWidth' ng-class='{colorEnabled:colorObj.green}'>Green</span>
        <span class='colWidth' ng-class='{colorEnabled:colorObj.blue}'>Blue</span>
        <span class='colWidth' ng-class='{colorEnabled:colorObj.white}'>White</span>
    </div>
    <div>
        <input type='text' ng-model='color' ng-keyup='checkColor($event)'>
    </div>
</section>
<div ng-show='driverList.length'>
    <table>
        <thead>
            <th class="colWidth"><h3>#</h3></th>
            <th class="colWidth"><h3>Name</h3></th>
            <th class="colWidth"><h3>Nationality</h3></th>
            <th class="colWidth"><h3>Points</h3></th>
            <th class="colWidth"><h3>Wins</h3></th>
            <th class="colWidth"><h3>Position</h3></th>
        </thead>
        <tbody>
            <tr ng-repeat='drivers in driverList'>
                <td class="colWidth" ng-bind='$index +1'></td>
                <td class="colWidth"><a href='#/driver/{{drivers.Driver.driverId}}'>
                        <span ng-bind='drivers.Driver.givenName'></span>&nbsp;
                        <span ng-bind='drivers.Driver.familyName'></span>
                    </a>
                </td>
                <td class="colWidth"><span ng-bind='drivers.Driver.nationality'></span></td>
                <td class="colWidth"><span ng-bind='drivers.points'></span></td>
                <td class="colWidth"><span ng-bind='drivers.wins'></span></td>
                <td class="colWidth"><span ng-bind='drivers.position'></span></td>
            </tr>
        </tbody>
    </table>
</div>